@import "@fortawesome/fontawesome-free/css/all.css";
@import "marker.scss";

:root {
    --building-color: #FF9800;
    --house-color: #0288D1;
    --shop-color: #7B1FA2;
    --warehouse-color: #558B2F;
  }
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Always set the map height explicitly to define the size of the div element
   * that contains the map.
   */
  #map {
    height: 100%;
    width: 100%;
  }
  
 